{:paths   ["src"]
 :deps    {metosin/malli                  {:mvn/version "0.8.9"}}
 :aliases {:build {:extra-deps {io.github.seancorfield/build-clj {:git/tag "v0.5.0" :git/sha "2ceb95a"}}
                   :ns-default build}
           :test  {:extra-paths ["test"]
                   :extra-deps  {io.github.metabase/hawk   {:sha "9c97bcb6d4de116325e651b40973fd0a75b7ae21"}
                                 meander/epsilon           {:mvn/version "0.0.650"}
                                 org.clojure/tools.analyzer.jvm {:mvn/version "1.2.2"}}
                   :exec-fn     mb.hawk.core/find-and-run-tests-cli}}}
